%script{:type=>"application/x-javascript",:src=>"/arbor.js"}
%script{:type=>"application/x-javascript",:src=>"/arbor-tween.js"}
%script{:type=>"application/x-javascript",:src=>"/arbor-graphics.js"}
%script{:type=>"application/x-javascript",:src=>"/views/arbor.js"}




%canvas#viewport{:width =>'800', :height =>'600'}


%h6
  Arbor Test