%a{:href=>"/upload_form"}
	%p upload
%a{:href=>"/show_images"}
	%p show images
%a{:href=>"/json"}
	%p json
%a{:href=>"/galleria"}
	%p galleria
%a{:href=>"/reset_redis"}
	%p reset redis
%p#test THIS IS A TEST