
%script{:type=>"application/x-javascript",:src=>"/views/main.js"}
%script{:type=>"application/x-javascript",:src=>"/jquery_template.min.js"}


/ MAIN PAGE

#login

%div#accordion.span-24

  / %h3
  /   %a.header{:href=>"#"}
  /     SEARCH
  / %div.ui_widget.int_acc
  /   %p
  /     %label{:for=>'autocomplete'}  
  /       Search:
  /     %input#autocomplete{"require"=>"require", :type=>"search",:placeholder=>"Search for name of graph or enter new graph name", :name=>"form_name",:size=>"60"}
  /     #view_button_2.button.span-4
  /       VIEW
  /     #text_edit_button2.button.span-4
  /       TEXT EDIT
  /     #graph_edit_button2.button.span-4
  /       GRAPHIC EDIT
  /     #delete_button2.button.span-4
  /       DELETE


  %h3
    %a.header{:href=>"#"}
      VIEW
  %div
    #view
      %script{:id=>"view_template", :type=>"text/x-jquery-tmpl"}
        %li
          %a{:href=>"/view/${graph_name}"}
            ${graph_name}
            
  %h3
    %a.header{:href=>"#"}
      ARBOR 
  %div
    #arbor
      %script{:id=>"arbor_template", :type=>"text/x-jquery-tmpl"}
        %li
          %a{:href=>"/arbor/${user_name}/${graph_name}"}
            ${graph_name}
  %h3.int_acc
    %a.header{:href=>"#"}
      TEXT EDIT
  %div
    
    #text_edit.span-24.last
      %script{:id=>"edit_text_template", :type=>"text/x-jquery-tmpl"}
        %li
          %a{:href=>"/edit_text/${graph_name}"}
            ${graph_name}
      #text_button
        %label{:for=>"entry1"}
        .button#text_edit_button.ui-widget-content.ui-state-default
          NEW TEXT EDIT
        %input#entry1{:type=>"text",:name=>"form_name",:size=>"40",:required=>"required", :placeholder=>"Enter name of new graph"}
    .span-24.last
      
      
      
  %h3.int_acc
    %a.header{:href=>"#"}    
      GRAPHIC EDIT
  %div
    #graphic_edit
      %script.left{:id=>"graphic_edit_template", :type=>"text/x-jquery-tmpl"}
        %li
          %a{:href=>"/graphic_edit/${graph_name}"}
            ${graph_name}
      /  %a{:href=>"/graphic_edit/#{x}"}=x
      #graph_button
        %label{:for=>"entry2"}
        .button#graph_edit_button.ui-widget-content.ui-state-default
          NEW GRAPHIC EDIT
      
        %input#entry2{:type=>"text",:placeholder=>"Enter name of new graph", :name=>"form_name",:size=>"40"}
    .span-24.last
 
        
    
  %h3
    %a.header{:href=>"#"}
      DELETE
  %div
    %p
      #delete
      %script{:id=>"delete_template", :type=>"text/x-jquery-tmpl"}
        %li
          %a.delete_links{:href=>"/delete/${graph_name}" , :class=>"confirmLink"}
            ${graph_name}
      / %a.confirmLink{:href=>"/delete/#{x}"}=x
    

  %h3
    %a.header{:href=>"#"}    
      EXPORT ALL
  %div.small_acc
    %a#button2{:href => '/export_all'} export all

  / %h3
  /   %a.header{:href=>"#"}    
  /     IMPORT
  / %div.small_acc
  /   %form{:action=>"/upload",:method=>"post",:enctype=>"multipart/form-data"}
  /     %input.button{:type=>"file",:name=>"file"}
  /     %input.button{:type=>"submit",:value=>"Upload"}
      
  %h3
    %a.header{:href=>"#"}    
      LOG OUT
  %div.small_acc
    %a#logout.button{:href => '/'} Log Out User

      




  



