
%script{:type=>"application/x-javascript",:src=>"/views/view.js"}


%div#accordion.span-24
  %h3
    %a.header{:href=>"#"}
      PREVIEW
  %div
    .span-6
      #title
    .span-16.last
      #temp
        %progress
          Working...
      %a.pdf
        %img#preview{:src=>""}
    
  %h3
    %a.header{:href=>"#"}
      DOWNLOADS
  %div.small_acc
    %table{'width'=>"10%"}
      %tr
        %td
          %a.links.left.pdf
            pdf
        %td
          %a.links.left.svg
            svg
        %td
          %a.links.left.png
            png
        %td
          %a.links.left.dot
            dot
      %tr
        %td
          %a.links.left.mono-pdf
            mono-pdf
        %td
          %a.links.left.mono-svg
            mono-svg
        %td
          %a.links.left.mono-png
            mono-png
        %td
          %a.links.left.mono-dot
            mono-dot
      %tr
        %td
          %a.links.left.circle-pdf
            circle-pdf
        %td
          %a.links.left.circle-svg
            circle-svg
        %td
          %a.links.left.circle-png
            circle-png
        %td
          %a.links.left.circle-dot
            circle-dot
      %tr
        %td
          %a.links.left.ellipse-pdf
            ellipse-pdf
        %td
          %a.links.left.ellipse-svg
            ellipse-svg
        %td
          %a.links.left.ellipse-png
            ellipse-png
        %td
          %a.links.left.ellipse-dot
            ellipse-dot

      
      
      


