
%script{:type=>"application/x-javascript",:src=>"/views/view.js"}


%div#accordion.span-24
  %h3
    %a.header{:href=>"#"}
      PREVIEW
  %div
    .span-6
      #title
    .span-16.last
      %a.pdf
        %img
    
  %h3
    %a.header{:href=>"#"}
      DOWNLOADS
  %div.small_acc
    %p
      .span-2
        %a.links.left.pdf
          pdf
      .span-2
        %a.links.left.svg
          svg
      .span-2.last
        %a.links.left.png
          png
      .span-2.last
        %a.links.left.dot
          dot

      
      


