

%script{:type=>"application/x-javascript",:src=>"/coffee/coffee_test.js"}

%div.left.filler
  %img{:src=>"/images/filler.png"}

%div.top_banner.right
  %button#home
    Home
  %button#new_entry
    New Box
  %button#del_entry
    Delete Box
  %button#edit_entry
    Edit Box
  %button#text_edit
    Text Edit Graph
  %button#view
    View Graph
  #progressbar

  






  %form{:name=>"text_form"}
    %input.text{:type=>"text",:name=>"text_content",:id=>"text_entry"} 



%div
  
  %div.selectable#containment-wrapper.new_box

  %figure
    #inline_graph.inline_graph_edit











-# {:id=>"containment-wrapper", :class=>["hide_edit","selectable"]}




