

%script{:type=>"application/x-javascript",:src=>"/coffee/coffee_test.js"}
%script{:type=>"application/x-javascript",:src=>"/farbtasic/farbtastic.js"}
%link{:rel=>"stylesheet", :href=>"/farbtasic/farbtastic.css", :type=>"text/css"}

%div.filler.span-6
  / %img{:src=>"/images/filler.png"}

%div.top_banner.span-15
  %button#home
    Home
  %button#new_entry
    New Box
  %button#del_entry
    Delete Box
  %button#edit_entry
    Edit Box
  %button#text_edit
    Text Edit Graph
  %button#view
    View Graph
  #progressbar
  


  






  %form{:name=>"text_form"}
    %input.text{:type=>"text",:name=>"text_content",:id=>"text_entry"} 
  %button#colorpicker.right
    Color

%div.span-4.last

/ This is were all the boxes will show up
%div
  %div.selectable#containment-wrapper.new_box

/ the preview of the graph
#inline_graph.inline_graph_edit.right
 

 











-# {:id=>"containment-wrapper", :class=>["hide_edit","selectable"]}




