
%script{:type=>"application/x-javascript",:src=>"/jquery.hotkeys-0.7.9.min.js"}
%script{:type=>"application/x-javascript",:src=>"/coffee/coffee_test.js"}


%div#tabs
  %ul
    %li
      %a{:href=>"#tabs-1"}
        Entry
    %li
      %a{:href=>"#tabs-2"}
        Results

  %div#tabs-1
    %button#new_entry
      New entry
    %button#pos_calc
      Calculate positions
    %button#del_entry
      Delete Textbox
    #progressbar
    %progress{:type=>"hidden","value"=>"0"}
  
    %form{:name=>"text_form"}
      %input{:type=>"text",:name=>"text_content",:size=>'50', :rows=>"5",:cols=>"40",:id=>"text_entry"} 
        Enter the textbox content here

  

    %div.selectable.hide_edit#containment-wrapper.new_box

  %div#tabs-2 
    .span-24
    %span
      %div#results
    / %p#hide_me 
    /   Results will show up here, hopefully...
    %div


%div#hide_graphic_edit{:type=>"hidden"}
  =@text_indent
  



-# {:id=>"containment-wrapper", :class=>["hide_edit","selectable"]}




