

%script{:type=>"application/x-javascript",:src=>"/coffee/coffee_test.js"}




%button#home
  Home
%button#new_entry
  New Box
%button#del_entry
  Delete Box
%button#text_edit
  Text Edit Graph


#progressbar

  


%div



%form{:name=>"text_form"}
  %input.text{:type=>"text",:name=>"text_content",:id=>"text_entry"} 

  
%div.selectable#containment-wrapper.new_box

#inline_graph.inline_graph_edit






/ Here is the graph layour
%div.hide#hide_graphic_edit{:type=>"hidden"}
  =@text_indent


%p.hide
  =@text
%p.hide
  debugging text
  =@test




-# {:id=>"containment-wrapper", :class=>["hide_edit","selectable"]}




