\<!DOCTYPE html>
%html{:lang=>"en"}
  %head
    / All the .js libraries calls
    %script{:type=>"application/x-javascript",:src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"}
    %script{:type=>"application/x-javascript",:src=>"/underscore-min.js"}
    %script{:type=>"application/x-javascript",:src=>"/jquery-ui-1.8.6.custom.min.js"}
    %script{:type=>"application/x-javascript",:src=>"/jquery.hotkeys-0.7.9.min.js"}
    / %script{:type=>"application/x-javascript",:src=>"http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js"}
    
    -# %link{:rel=>"stylesheet", :type=>"text/css", :href=> $HOME}
    %link{:rel=>"stylesheet", :href=>"/css/blueprint/screen.css", :type=>"text/css", :media=>"screen, projection"}
    %link{:rel=>"stylesheet", :href=>"/css/blueprint/print.css", :type=>"text/css", :media=>"print"}
    / <!--[if lt IE 8]>
    / %link{:rel=>"stylesheet", :type=>"text/css",:href=>"/css/blueprint/ie.css" ,:media=>"screen, projection"}
    -#/ <![endif]-->
   
    %link{:rel=>"stylesheet", :type=>"text/css",:href=>"/jquery-ui-1.8.6.custom.css" ,:media=>"screen, projection"}
    / %link{:rel=>"stylesheet", :type=>"text/css", :href=>"http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css"}
    %link{:rel=>"stylesheet", :type=>"text/css",:href=>"/sass" ,:media=>"screen, projection"}
    %title AlgViewer
  %body
    .container
      .span-24.last
        .small.prepend-16
      - #%hr.space
      - #%hr.space
    = yield
    .container
      %hr.space
      .span-24.last
        .small.prepend-16
          / %br
          / copyright &copy 
          / %a{:href => 'http://twitter.com/carlobifulco'} cbb 
          / 2010
