
%script{:type=>"application/x-javascript",:src=>"/coffee/main.js"}

/ DIALOGS

%div{:id=>"delete", :title=>"Confirmation Required"}
  Are you sure you want to delete this graph?
  
%div{:id=>"dialog-form", :title=>"Please enter username and password"}
  %form{:action=>"/"}
    %fieldset
      %label{:for=>'user'}
        User Id
      %input{:type=>"text", :name=>"user", :id=>"user", :class=>"text ui-widget-content ui-corner-all"}
      %label{:for=>'password'}
        Password
        %input{:type=>"text", :name=>"password", :id=>"password", :class=>"text ui-widget-content ui-corner-all"}
    %button#create-user
      Check Authorization

/ MAIN PAGE

%div#accordion.span-24

  %h3
    %a.header{:href=>"#"}
      SEARCH
  %div.ui_widget.int_acc
    %p
      %label{:for=>'autocomplete'}  
        Search:
      %input#autocomplete{"require"=>"require", :type=>"search",:placeholder=>"Search for name of graph or enter new graph name", :name=>"form_name",:size=>"60"}
      #view_button_2.button.span-4
        VIEW
      #text_edit_button2.button.span-4
        TEXT EDIT
      #graph_edit_button2.button.span-4
        GRAPHIC EDIT
      #delete_button2.button.span-4
        DELETE


  %h3
    %a.header{:href=>"#"}
      VIEW
  %div
    %p
      -@all_forms.each  do |x|
        %li
          %a{:href=>"/view/#{x}"}=x
  %h3
    %a.header{:href=>"#"}
      TEXT EDIT
  %div
    %p
      -@all_forms.each  do |x|
        %li
          %a{:href=>"/edit_text/#{x}"}=x
    .span-24.last
      %form{:action=>"/edit_text",:method=>"get"}
        %label{:for=>"entry1"}
        .button#text_edit_button.span-4.ui-widget-content.ui-state-default
          NEW TEXT EDIT
        .span.3
          %input#entry1{:type=>"text",:name=>"form_name",:size=>"40",:required=>"required", :placeholder=>"Enter name of new graph"}
      .span-24.last
        %p
      
      
      
  %h3
    %a.header{:href=>"#"}    
      GRAPHIC EDIT
  %div
    %p
      -@all_forms.each  do |x|
        %li
          %a{:href=>"/graphic_edit/#{x}"}=x
    .span-24.last
      %form{:action=>"/edit_edit",:method=>"get"}    
      %input#entry2{:type=>"text",:placeholder=>"Enter name of new graph", :name=>"form_name",:size=>"40"}
      .button#graph_edit_button.span-4.last
        NEW GRAPHIC EDIT
    .span-24.last
      %p
    
  %h3
    %a.header{:href=>"#"}
      DELETE
  %div
    %p
    -@all_forms.each  do |x|
      %li
        %a.confirmLink{:href=>"/delete/#{x}"}=x
    

  %h3
    %a.header{:href=>"#"}    
      EXPORT ALL
  %div.small_acc
    %a#button2{:href => '/export_all'} export all

  %h3
    %a.header{:href=>"#"}    
      IMPORT
  %div.small_acc
    %form{:action=>"/upload",:method=>"post",:enctype=>"multipart/form-data"}
      %input.button{:type=>"file",:name=>"file"}
      %input.button{:type=>"submit",:value=>"Upload"}
      
  %h3
    %a.header{:href=>"#"}    
      LOG OUT
  %div.small_acc
    %a#logout.button{:href => '/'} Log Out User

      
%span#all_algs_names
  =@all_forms.to_json




  



