
%script{:type=>"application/x-javascript",:src=>"/coffee/main.js"}


%div{:id=>"dialog", :title=>"Confirmation Required"}
  Are you sure you want to delete this graph?


%div#accordion.span-24
  %h3
    %a.header{:href=>"#"}
      VIEW
  %div
    %p
      -@all_forms.each  do |x|
        %li
          %a{:href=>"/view/#{x}"}=x
  %h3
    %a.header{:href=>"#"}
      TEXT EDIT
  %div
    %p
      -@all_forms.each  do |x|
        %li
          %a{:href=>"/edit_text/#{x}"}=x
          
          
          
  %h3
    %a.header{:href=>"#"}    
      GRAPHIC EDIT
  %div
    %p
      -@all_forms.each  do |x|
        %li
          %a{:href=>"/graphic_edit/#{x}"}=x
        
  %h3
    %a.header{:href=>"#"}
      DELETE
  %div
    %p
    -@all_forms.each  do |x|
      %li
        %a.confirmLink{:href=>"/delete/#{x}"}=x
        
  %h3
    %a.header{:href=>"#"}    
      NEW ALG
  %div
    %form{:action=>"/edit_text",:method=>"get"}
      #button
        NEW ALG:
      %input#entry{:type=>"text",:name=>"form_name",:cols=>"30"}




%script{:type=>"text/coffeescript"}
  



