
%script{:type=>"application/x-javascript",:src=>"/coffee/main.js"}


%div{:id=>"dialog", :title=>"Confirmation Required"}
  Are you sure you want to delete this graph?

%div#accordion



.span-6.colborder
  %h6#view_view
    VIEW
  %h6
    %ul#hide_view
      -@all_forms.each  do |x|
        %li
          %a{:href=>"/view/#{x}"}=x 
.span-6
  %h6#view_edit 
    TEXT EDIT
  %ul#hide_edit
    -@all_forms.each  do |x|
      %li
        %a{:href=>"/edit_text/#{x}"}=x
.span-6
  %h6#view_graphic_edit
    GRAPHIC EDIT
  %ul#hide_graphic_edit
    -@all_forms.each  do |x|
      %li
        %a{:href=>"/graphic_edit/#{x}"}=x
        
.span-5.last
  %h6#view_delete 
    DELETE
  %ul#hide_delete
    -@all_forms.each  do |x|
      %li
        %a.confirmLink{:href=>"/delete/#{x}"}=x
.span-24
.span-6
  %h6
    %form{:action=>"/edit_text",:method=>"get"}
      NEW ALG: 
      %input{:type=>"text",:name=>"form_name",:cols=>"30"} 
      %input{:type=>"submit",:value=>"Send"}


%script{:type=>"text/coffeescript"}
  



