@@ styles
#edit
  width: 620px
  height: 500px
  padding: 5px
  font: 100% Monaco, "Courier New", Courier, monospace
  border: 2px solid
  border-color: #666
  color: Black
  width: 100%
  
a
  color: #3366CC
  &:hover
    color: #3366CC
    text-decoration: none
  &:focus,
  &:active
    outline: none
  &:visited
    outline: none