
#edit
  width: 620px
  height: 500px
  padding: 5px
  font: 100% Monaco, "Courier New", Courier, monospace
  border: 2px solid
  border-color: #666
  color: Black
  width: 100%
  
a
  color: #3366CC
  &:hover
    color: #3366CC
    text-decoration: none
  &:focus,
  &:active
    outline: none
  &:visited
    outline: none
    
.draggable
  width: 150px 
  height: 20px
  padding: 0.5em
  color: red
  border: 10px solid
  
  
#selectable 
  .ui-selecting 
    background: #FECA40
#selectable 
  .ui-selected 
    background: #F39814
    color: white
#selectable
  list-style-type: none
  margin: 0
  padding: 0
  width: 30%

#selectable li 
  margin: 3px
  padding: 0.4em
  font-size: 1.4em  
  height: 18px
  
#containment-wrapper 
  width: 95% 
  height: 600px 
  border: 5px solid 
  padding: 10px
  
  
.text_box
  height: 14px
  padding: 2px
  
.ui-selected
  height: 10px
  padding: 2px
  background: #F39814
  color: red