

a
  color: #3366CC
  &:hover
    color: #3366CC
    text-decoration: none
  &:focus,
  &:active
    outline: none
  &:visited
    outline: none
    
.draggable
  width: 150px 
  height: 20px
  padding: 0.5em
  color: red
  border: 10px solid


.selectable
  height: 2400px
  border: 0px solid
  border-color: #666
  color: Black
  border: 2px solid
  border-color: #666
  color: Black
  
#selectable 
  .ui-selecting 

#selectable 
  .ui-selected 
    background: #F39814
    color: white
    width: 150px 
    height: 20px
#selectable
  list-style-type: none
  margin: 0
  padding: 0
  width: 100%

#selectable li 
  margin: 0px
  padding: 0.4em
  font-size: 1.4em  
  height: 18px
  




#containment-wrapper 
  width: 100%
  height: 2400px 
  border: 0px solid 
  margin: 0px
  border: 0px solid
  border-color: #666
  color: Black

  
  
.text_box
  height: 14px
  padding-top: 4px
  padding: 5px
  color: black
  border: 1px solid #CCC
  margin-right: 0.1em
  text-align: center
  border-bottom-left-radius: 4px 4px
  border-bottom-right-radius: 4px 4px
  border-top-left-radius: 4px 4px
  border-top-right-radius: 4px 4px
  background: #FCBB00
  font-size: 0.7em
  opacity: 0.7
  float: left
  position: relative
  
.new_box
  width: 100%
  height: 10000px 
  border: 5px solid 
  margin: 0px
  border: 0px solid
  border-color: blue
  color: Black
  position: absolute
  
.ui-selected
  height: 14px
  padding-top: 4px
  padding: 5px
  height: 14px
  background: #F39814
  color: red
  
.right 
  float: right

.left
  float: left
  
.multidraggable 
  width: 120px
  height: 120px
  border: 1px solid #CCC
  padding: 10px
  background: #FFF
  border: 0px solid
  border-color: #666
  color: Black


.ui-multidraggable 
  background: #F8FBDC
  border: 0px solid
  border-color: #666
  color: Black

.handle 
  border: 1px solid #AEE6E8


.cancel 
  border: 1px solid #CCC

.ul-none  
  list-style-type: none

#edit
  height: 100%
  padding: 10px
  font: 120% Helvetica, Monaco, "Courier New", Courier, monospace
  border: 0px solid
  border-color: #666
  color: Black
  width: 90%


.inline_graph
  position: fixed
  top: 100px
  left: 50%
  opacity: 0.9
  border: 1px solid
  border-color: #666
  color: Black
  padding: 10px
  
  
.inline_graph_edit
  position: absolute
  top: 25%
  left: 50%

  opacity: 0.8
  border: 1px solid
  border-color: #666
  
.top_banner
  position: fixed
  top: 0%
  left: 50%
  
.filler
  position: fixed
  top: 0%
  left: 0%
  
  
#drop_zone 
  border: 2px dashed #bbb
  border-radius: 5px
  padding: 25px
  text-align: center
  font: 20pt bold 'Vollkorn'
  color: #bbb
  
button
  z-index: 1000000
  
#text_entry
  z-index: 1000000

  
.image_full
  border: 2px #bbb solid
  position: fixed
  left: 5px
  opacity: 1
  

