%script{:type=>"application/x-javascript",:src=>"/jquery-fieldselection.js"}
%script{:type=>"application/x-javascript",:src=>"/code-edit.js"}
%script{:type=>"application/x-javascript",:src=>"/coffee/text_form.js"}


%div#accordion.span-24
  %h3
    %a.header{:href=>"#"}
      FORM NAME    
  %div
    %p=@form_name
        
  %h3
    %a.header{:href=>"#"}
      EXAMPLE
  %div
    %p 
      Always leave a space after the Yaml's "-" and the ":".
    %p
      Wrap/escape : in  ":" or in ':'.
    %p
      Respect the "-" followed by " - pattern, e.g.:
    %p
      Specimen
      
  %h3
    %a.header{:href=>"#"}
      EDIT
  %div

    %form{:action=>"/upload_text",:method=>"post"}
      %textarea#edit{:class=>"autoindent",:name=>"form_content",:rows=>"40",:cols=>"80",:lang=>"en", :style=>"direction: ltr;",:wrap=>"SOFT"}=@text
      %input{:type=>"hidden",:name=>"form_name",:value=>@form_name}
  %h3
    %a.header{:href=>"#"}
      SAVE
  %div
    %span#submit
      SAVE
      
  %h3
    %a.header{:href=>"#"}
      VIEW --not implemented
  %div
    %input#submit{:type=>"submit",:value=>"Send"}

    

